.App {
  font-family: sans-serif;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

h1{
  font-family: 'Poppins', sans-serif;
}
input {
  width: 80%;
  padding: 1rem;
  text-align: center;
}
